*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    min-height: 4000px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 6em;
    padding: 0 8%;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style-type: none;
    margin-right: 2em;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0.5px 1px 3px rgb(136, 132, 132);
}
nav ul li a:hover{
    color: #5D1FF2;
}
img{
    display: block;
    margin: auto;
    
}
#banner{
    background-color: rgb(44, 84, 116);
    margin: auto;
    width: 80%;
}
#show{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8em auto;
    background-color: #C7C7C7;
    padding: 4em;
}
section input{
    color: #fff;
    margin-top: 4em;
    padding: 0.8em 2.5em;
    background-color: #326DA1;
    border: 0;
}
section input:hover{
    background-color: #6e16b6d3;
    cursor: pointer;
    transition: 0.8s;
}