*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    min-height: 1000px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 6em;
    padding: 0 8%;
}
nav ul{
    display: flex;
    
}
nav ul li{
    list-style-type: none;
    margin-right: 2em;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #5D1FF2;
}